@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');


html {
    box-sizing: border-box;    
    background-color: #1f2937;
    font-family: Roboto, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Header content */

.header-container {
    margin: 0 400px;
    display: flex;
    justify-content: space-between;
}
.header-container .header {
    display: flex;
}
.header-container .header h1 {
    font-size: 24px;
    color: #f9faf8;
}
.header-container .links {
    align-items: center;
    display: flex;
}
.header-container .links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 0 0 48px;
}

/* Sub Header content */

.subheader-container {
    display: flex;
    margin: 100px 400px 0 400px;
    color: #ffffff;
    
    justify-content: space-between;
}
.subheader-container .signup-container {
    display:flex;
    flex-direction: column;
    width: 450px;
    margin-right: 200px;
    
}
.subheader-container .signup-container h1 {
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}

.subheader-container .signup-container p {
    font-size: 18px;
    color: #e5e7eb;
}

.subheader-container .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    width: 650px;
}
.subheader-container .signup-container button {
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 12px;
    border: none;
}
.subheader-container .signup-container button a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* body content */

.body-container-one {
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    padding: 0 200px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.body-container-one .header h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}
.body-container-one .images {
    display: flex;
    flex-direction: row;    
    margin-bottom: 100px;
}
.body-container-one .images .image {
    width: 150px;
    display: flex;
    margin: 10px 30px;
    flex-direction: column;
    text-align: center;
}
.body-container-one .images .image img {
    border: 2px solid #3882f6;
    border-radius: 12px;
    height: 150px;
}
.qoute-container {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
}
.qoute-container .qoute {
    display:block;
    margin: 100px 0;
    font-family:Roboto;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
    width: 800px
}
.qoute-container .qoute .ref {
    font-weight: bold;
    text-align: end;
    font-style: normal;
}

.call-to-action-container {
    display:flex;
    justify-content: center;
    background-color: white;
}

.call-to-action-container .cta {
    background-color: #3882f6;
    display:flex;
    border-radius: 12px;
    justify-content: space-around;
    color:white;
    width: 100%;
    margin: 100px 400px;
    align-items: center;
    padding: 20px;
}
.call-to-action-container .cta button {
    background-color: #3882f6;
    border: 2px solid white;
    padding: 8px 24px;
    border-radius: 12px;
}
.call-to-action-container .cta button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
   