html {
    box-sizing: border-box;    
    background-color: #1f2937;
    font-family: roboto, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Header content */

.header-container {
    margin: 0 200px 0 200px;
    display: flex;
    justify-content: space-between;
}
.header-container .header {
    display: flex;
}
.header-container .header h1 {
    font-size: 24px;
    color: #f9faf8;
}
.header-container .links {
    align-items: center;
    display: flex;
}
.header-container .links a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    padding: 0 0 0 48px;
}

/* Sub Header content */

.subheader-container {
    display: flex;
    margin: 100px 200px 0 200px;
    color: #ffffff;
    
    justify-content: space-between;
}
.subheader-container .signup-container {
    display:flex;
    flex-direction: column;
    width: 450px;
    margin-right: 200px;
    
}
.subheader-container .signup-container h1 {
    font-size: 48px;
    font-weight:800;
    color: #f9faf8;
}

.subheader-container .signup-container p {
    font-size: 18px;
    color: #e5e7eb;
}

.subheader-container .image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    width: 650px;
}
.subheader-container .signup-container button {
    background-color: #3882f6;
    padding: 8px 24px;
    border-radius: 12px;
    border: none;
}
.subheader-container .signup-container button a {
    color: #f9faf8;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/* body content */

.body-container-one {
    display: flex;
    padding: 0 200px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
}
.body-container-one .header h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 800;
}
.body-container-one .images {
    display: flex;
    flex-direction: row;
}
   